# Python
__pycache__/
*.py[cod]
*$py. class
*.so
.Python
build/
dist/
*. egg-info/
venv/
env/
.venv

# IDEs
.vscode/
.idea/
*.swp
. DS_Store

# Jupyter
.ipynb_checkpoints

# Data
data/raw/*
data/processed/*
data/output/*
data/vimeo_triplet/*
data/kaggle_emotion_classification/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/output/. gitkeep

# Models
models/pretrained/*
models/finetuned/*
!models/pretrained/.gitkeep
! models/finetuned/.gitkeep

# Notebooks
notebooks/raw_rnn_agnews/*

# Temp
temp/
*. tmp
*.log

# ML
*.pth
*.pt
*. ckpt
*.h5
*. onnx
wandb/
tensorboard/

# Testing
.coverage
. pytest_cache/

# Environment
.env
